@import './palette';

@mixin ComponentWrapper {
  align-items: center;
  background: $dark-bg;
  background: linear-gradient(
    180deg,
    rgba(7, 5, 11, 1) 0%,
    rgba(9, 9, 121, 1) 40%,
    rgba(238, 114, 0, 1) 100%
  );
  display: flex;
  justify-content: center;
  padding-top: 2rem;
  width: 100%;

  // prettier-ignore
  box-shadow: 
	 0 0.33rem 0.33rem hsla(29, 100%, 47%, 0.91),
	 0 0.33rem 0.33rem hsla(29, 100%, 47%, 0.1),
	 0 0.63rem 0.33rem hsla(29, 100%, 47%, 0.1),
	 0 0.93rem 0.33rem hsla(29, 100%, 47%, 0.1),
	 0 1.33rem 0.33rem hsla(29, 100%, 47%, 0.1),
	 0 2.33rem 0.33rem hsla(29, 100%, 47%, 0.1),
	 0 3.33rem 0.33rem hsla(29, 100%, 47%, 0.1),
	 0 4.33rem 0.33rem hsla(29, 100%, 47%, 0.1);

  & > * {
    transition: color 0.5s linear;
  }

  &.lightMode {
    background: rgb(143, 195, 255);
    background: linear-gradient(
      180deg,
      rgba(143, 195, 255, 1) 0%,
      rgba(251, 255, 143, 1) 77%,
      rgba(255, 147, 143, 1) 100%
    );

    // prettier-ignore
    box-shadow: 0 0.33rem 0.33rem hsla(2, 100%, 78%, 0.91),
      0 0.33rem 0.33rem hsla(2, 100%, 78%, 0.1),
      0 0.63rem 0.33rem hsla(2, 100%, 78%, 0.1),
      0 0.93rem 0.33rem hsla(2, 100%, 78%, 0.1),
      0 1.33rem 0.33rem hsla(2, 100%, 78%, 0.1),
      0 2.33rem 0.33rem hsla(2, 100%, 78%, 0.1),
      0 3.33rem 0.33rem hsla(2, 100%, 78%, 0.1),
      0 4.33rem 0.33rem hsla(2, 100%, 78%, 0.1);

    & > * {
      color: $light-text;
    }
  }
}

@mixin darkMode-altBG {
  background: $dark-bg;
  background: linear-gradient(
    180deg,
    rgba(7, 5, 11, 1) 0%,
    rgba(9, 9, 121, 1) 99%
  );
  border-radius: 0;
  box-shadow: 0 0.33rem 0.33rem hsla(240, 86%, 25%, 0.91),
    0 0.33rem 0.33rem hsla(240, 86%, 25%, 0.21),
    0 0.63rem 0.33rem hsla(240, 86%, 25%, 0.21),
    0 0.93rem 0.33rem hsla(240, 86%, 25%, 0.21),
    0 1.33rem 0.33rem hsla(240, 86%, 25%, 0.21),
    0 2.33rem 0.33rem hsla(240, 86%, 25%, 0.21),
    0 3.33rem 0.33rem hsla(240, 86%, 25%, 0.21),
    0 4.33rem 0.33rem hsla(240, 86%, 25%, 0.21);
}

@mixin lightMode-altBG {
  background: $light-bg;
  border-radius: 0;
  box-shadow: 0 0.33rem 0.33rem hsla(212, 100%, 78%, 0.91),
    0 0.33rem 0.33rem hsla(212, 100%, 78%, 0.1),
    0 0.63rem 0.33rem hsla(212, 100%, 78%, 0.1),
    0 0.93rem 0.33rem hsla(212, 100%, 78%, 0.1),
    0 1.33rem 0.33rem hsla(212, 100%, 78%, 0.1),
    0 2.33rem 0.33rem hsla(212, 100%, 78%, 0.1),
    0 3.33rem 0.33rem hsla(212, 100%, 78%, 0.1),
    0 4.33rem 0.33rem hsla(212, 100%, 78%, 0.1);
}

@mixin button {
  align-self: center;
  background: white;
  color: black;
  box-shadow: 2px 2px $light-btn-shadow, 4px 4px $light-btn-shadow;
  border: 0;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 0.04rem;
  outline: none;
  padding: 1rem;
  width: 50%;

  @media (max-width: 475px) {
    width: 80%;
  }

  &:active {
    box-shadow: 0 0;
    transform: translate(4px, 4px);
  }

  &:hover {
    background: $dark-text;
  }
}

@mixin formRange {
  input[type='range'] {
    height: 1.5rem;
    -webkit-appearance: none;
    margin: 10px 0.3rem;
    width: 33%;
    z-index: 1;
    background: none;
  }
  input[type='range']:focus {
    outline: none;
  }
  input[type='range']::-webkit-slider-runnable-track {
    width: 100%;
    height: 1.5rem;
    cursor: pointer;
    box-shadow: 0px 0px 1px #000000;
    background: #000000;
    border: 0px solid #000000;
    border-radius: 30%;
  }
  input[type='range']::-webkit-slider-thumb {
    box-shadow: 2px 2px 2px #000000;
    border: 0px solid #000000;
    border-radius: 50%;
    height: 1.5rem;
    width: 1.5rem;
    background: #ffffff;
    cursor: pointer;
    -webkit-appearance: none;
  }
  input[type='range']:focus::-webkit-slider-runnable-track {
    background: #000000;
  }
  input[type='range']::-moz-range-track {
    width: 100%;
    height: 1.5rem;
    cursor: pointer;
    box-shadow: 0px 0px 1px #000000;
    background: #000000;
    border: 0px solid #000000;
    border-radius: 50%;
  }
  input[type='range']::-moz-range-thumb {
    box-shadow: 2px 2px 2px #000000;
    border: 0px solid #000000;
    border-radius: 50%;
    height: 2rem;
    width: 2rem;
    background: #ffffff;
    cursor: pointer;
  }
  input[type='range']::-ms-track {
    width: 100%;
    height: 1.5rem;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
    border-radius: 50%;
  }
  input[type='range']::-ms-fill-lower {
    background: #000000;
    border: 0px solid #000000;
    box-shadow: 0px 0px 1px #000000;
  }
  input[type='range']::-ms-fill-upper {
    background: #000000;
    border: 0px solid #000000;
    border-radius: 50%;
    box-shadow: 0px 0px 1px #000000;
  }
  input[type='range']::-ms-thumb {
    margin-top: 1px;
    box-shadow: 2px 2px 2px #000000;
    border: 0px solid #000000;
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    background: #ffffff;
    cursor: pointer;
  }
  input[type='range']:focus::-ms-fill-lower {
    background: #000000;
  }
  input[type='range']:focus::-ms-fill-upper {
    background: #000000;
  }
}

@mixin noSelect {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
