@import './palette';

.Footer {
  width: 100%;
}

.Footer__body {
  // border: 1px solid red;
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
  width: 100%;

  @media (max-width: 475px) {
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
}

.Footer__top {
  align-items: center;
  display: flex;
  justify-content: space-between;

  @media (max-width: 500px) {
    align-items: center;
    display: flex;
    flex-direction: column;
  }
  a {
    color: $dark-link;
    font-size: 1rem;
    text-decoration: none;
    margin: 1rem;
    opacity: 0.22;
    transition: opacity 0.2s ease-in-out;

    &:hover {
      color: $dark-link-hover;
      opacity: 1;
    }
    &.active {
      color: $dark-link-hover;
    }
  }
}

.Footer__bottom {
  align-items: center;
  display: flex;

  @media (max-width: 500px) {
    margin: 1rem;
  }

  @media (max-width: 300px) {
    flex-direction: column;
    & > * {
      margin: 1rem;
    }
  }

  p {
    font-size: 0.75rem;
    transition: opacity 0.2s ease-in-out;
  }

  span {
    font-size: 1rem;
    margin: 0 0.5rem;
  }

  .icons {
    margin: 0 0.5rem;
    img {
      cursor: pointer;
      margin: 0 0.25rem;
      width: 1.2rem;
      @media (max-width: 475px) {
        width: 1.5rem;
      }
      &:hover {
        transform: scale(1.3) rotate(5deg);
      }
    }

    img.linkedin {
      width: 1.5rem;
      @media (max-width: 475px) {
        width: 1.8rem;
      }
    }
  }
}
